* {
    margin: 0;
    padding: 0;
}

.main {
    margin-top: 10%;
    justify-content: center;
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 300px 300px;
    width: 100%;
    height: auto;
    gap: 20px;
}
.main_text {
    font-size: 19px;
    justify-self: center;
    font-weight: 600;
}
body {
    background-image: url(./img/photo_backgrounds_textures_app05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.cl-btn {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
    margin: 20px auto;
    cursor: pointer;
    top: 50px;
}
.cl-btn:before {
    content: '+';
    color: #ff0505;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.cl-btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #b98686;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.02);
}
.cl-btn:hover:after {
    transform: scale(1);
}
.cl-btn:hover:before {
    transform: scale(0.8) rotate(45deg);
    color:#ff0505;
}

.box {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.56);
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
}
.box-main {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
   
}
.disp-box {
    background-image: url(./img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    max-width: 800px;
    padding: 50px 50px;
    position: relative;
}
.text {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}
.cl {
   font-size: 25px;
   font-weight: 600;
   margin-top: 20%;
   color: #0576ff;
   cursor: pointer;
   width: 150px;
   height: 40px;
   transition: 0.5s;
}
.cl:hover {
   transform: scale(1.5);
}

